*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  min-height: 100vh;
  font-family: Lato, sans-serif;
  background: linear-gradient(to right, #ffefba, #ffffff);
  padding: clamp(20px, 5vw, 50px) 20px 10px;
}
h1 {
  font-size: clamp(20px, 5vw, 50px);
  text-align: center;
  font-family: Roboto, sans-serif;
  margin: 20px 0 10px;
  font-weight: 100;
}

h1 span {
  font-weight: 800;
}

form {
  max-width: 850px;
  margin: 0 auto 30px;
  display: flex;
  justify-content: center;
}

.input-container {
  margin: 20px auto;
}

.input-group {
  margin-bottom: 25px;
}

label {
  display: block;
  margin-bottom: 10px;
  font-size: 18px;
}

.input-group input {
  min-width: 400px;
  font-size: 15px;
  padding: 15px;
  border: none;
  border-bottom: 1px solid #333;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}

.input-group input:focus {
  border: none;
  outline: 1px solid #222222be;
}

.button-group {
    margin:20px auto;
    display: flex;
    justify-content: center;
}

.button-group button{
    font-size: 15px;
    min-width: 100px;
    margin: 10px auto;
    display: block;
    padding: 10px;
    border: none;
    font-weight: 700px;
    border-radius: 5px;
    color: #333;
    cursor: pointer;
    background: #09b657;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.5);
    
  }
  
form button:hover {
    background: #09b657;
    background: #056314;
  }

button .creer {
    margin-right: 20px;
    color:white;

}
