*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  min-height: 100vh;
  font-family: Lato, sans-serif;
  background: linear-gradient(to right, #ffefba, #ffffff);
  padding: clamp(20px, 5vw, 50px) 20px 10px;
}

h1 {
  font-size: 45px;
  text-align: center;
   margin: 20px 0 10px;
  font-weight: 300;
}

h1 span {
  font-weight: 800;
}

.container {
  max-width: 600px;
  margin: 0 auto ;
}

.input-group:nth-child(2) {
  margin-top: 25px;
}

.container label {
  display: block;
  margin-bottom: 10px;
  font-weight:600px;
  font-size: 18px;
}

.container input {
    display: block;
    width: 100%;
    font-size:18px;
    padding:12px;
    border:none;
    border-radius:5px;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.5);
  }
  .container input:focus {
    outline: 1px solid #222222be;
  }
  
.btns-container {
    display:flex;
    justify-content:center;
    margin-top: 45px;
}

form button {
    font-size:15px;
    min-width:100px;
    color: #f1f1f1;
    padding:10px;
    margin-left:15px;
    background: #2bc41d;
    border:none;
    cursor: pointer;
    border-radius:5px;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.5);
}

form button:hover {
    background:#1ca70f;
}

.info-txt{
    font-size:18px;
    margin-top:20px;
    text-align:center;
}

.toasts-container {
    position:fixed;
    bottom:20px;
    right:20px;
}

.toast {
    color:#f1f1f1;
    padding:10px;
    border:none;
    font-size:15px;
    border-radius:5px;
}
